.style{
    border-width: 1px;
    border-radius: 4px;
    padding-left: 100px;
    padding-right: 20px;
    padding-top: 100px;
    padding-bottom: 25px;
    padding: 15px;
    width: 200px;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 1200px;
    margin: 0 auto;
}


#backimg {
    background-image: url("https://images.unsplash.com/photo-1538356343135-65849f66b4a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80");
    background-size: cover;
}
h1 {
    display: block;
}

button{
    border-radius: 3px;
    border-width: 1px;

}

button:hover {
  background-color: #d6ccc2;
}

